/* navigation bar */
.navbar[data-bs-theme="dark"] {
    color: aliceblue;
}
.navbar[data-bs-theme="light"] {
    color: #333;
}
/* navigation bar */
/* ! Sign up  webpage, this css are customized of bootstrap */
.logo-large{
    width: 100%;
    height: auto;
}
.form-div {
    background-color: #A1C7E0;
    padding-bottom: 15px;
}
.container-fluid{
    margin-bottom: 10px;
}
.signup-text{
    font-weight: 700;
    border-bottom: 2px solid #333;
}
.signup-btn{
    background-color: #00E676;
    color: #333;
    font-weight: 700;
}
.signup-btn:hover{
    background-color: #059862;
    color: #fff;
}
.login-link-btn{
    font-weight: 700;
}
.error {
    margin-top: 5px;
    color: red;
    text-align: center;
}
#errorMessage{
    color: darkred;
}
/* ! Sign up  webpage*/

/* login webpage */
.login-div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #A1C7E0;
    color: #073870;
    font-weight: 800;
    border-right: 5px solid #073870;
    padding-bottom: 15px;
  }
.login-form-div {
    width: 100%;
  }
.login-btn{
    background-color: #0d6efd;
    font-weight: 700;
    color: aliceblue;
    font-size: medium;
  }
.login-btn:hover{
    background-color: #2178fc;
    color: aliceblue;
}
.signup-body{
    background-color: #A1C7E0;
}
.signup-div{
    border: none;
}
.signup-form-div{
    border-left: 5px solid #073870;
}
/* profile */
.profile-container{
    display: grid;
    width: 100%;
    height: 200px;
    border-radius: 0.5rem;
    margin-inline: auto;
}
.cover-pic{
    display: grid;
    position: relative;
    height: 100%;
    background-color: #9FA6B2;
    margin: 0;
    padding: 0;
}
.cover-pic .cover-pic-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.profile-pic{
    display: grid;
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #9FA6B2;
    left: 0;
    bottom: 0;
}
.profile-pic .profile-pic-img{
    width: 150px; 
    height:150px; 
    border-radius:50%; 
    object-fit:cover;
}
.profile-edit{
    position: absolute;
    display: grid;
    width: 100%;
    bottom: 0;
}
.profile-edit .profile-edit-btn{
    display: block;
    border: none;
    margin-inline: auto;
    justify-content: center;
    background-color: transparent;
}
.cover-edit{
    position: absolute;
    right: 0;
    bottom: 0;
}
.cover-edit .cover-edit-btn{
    border: none;
    margin-inline: auto;
    justify-content: center;
    background-color: #292b2c;
}
.pic-info{
    margin-bottom: 5px;
}
.img-thumbnail{
    width: 200px;
    height: 200px;
    cursor: pointer;
    object-fit: cover;
}
.profile-sm-pic{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.imageModal{
    display: none;
    top: auto;
    width: 80%;
    margin-inline: auto;
    min-height: 100vh;
    background-color: #0d6efd;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#fullImg{
    width: 50%;
    height: auto;
}
.close-imageModal{
    font-weight: 800;
}
/* profile */

/* setup */
.setup-body{
    background-color: #A1C7E0;
}
.pro-setup-container{
    width: 80%;
    margin-inline: auto;
    margin-top: 5%;
}
.pro-setup-head{
    text-align: center;
}
.pro-setup-logo{
    width: clamp(100px,100vw,200px);
    height: auto;
}
.pro-setup-form{
    width: 80%;
    margin-inline: auto;
}
.skip-btn{
    width: 80%;
    margin-inline: auto;
    text-align: center;
}
.skip-btn .skip-link{
    text-decoration: none;
    color: #333;
    font-weight: 700;
}
/* setup */
/* home */
#stories-container{
    width: 100%;
    height: 285px;
}
#stories{
    width: 180px;
    height: 280px;
}
#stories-img{
    width: 100%;
    height: 205px;
    object-fit: cover;
}
#stories-details{
    position: absolute;
    background-color: transparent;
    width: 100%;
    bottom: 0;
}
#upload-post-container{
    border: 1px solid darkgrey;
    border-radius: 0.5rem;
}
#postContainer{
    max-width: 500px;
    min-width: 300px;
}
#post-hidden{
    display: none;
}
#story-hidden{
    display: none;
}
#upload-loading{
    position: absolute;
    bottom: 0;
    height: 100%;
}
.post-container{
    max-width: 400px;
    height: 500px;
    border: 1px solid gray;
    border-radius: 0.5rem;
    margin-top: 7px;
}
.post-header{
    height: 30px; /* 500 - 30 = 470*/
}
.post-profile-container{
    border-bottom: 1px solid darkgray;
    display: flex;
    place-content: center;
}
#post-profile-img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.post-body{
    width: 100%;
    height: 430px;
}
#post-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.post-footer{
    width: 100%;
    height: 100%;
    display: flex;
}
.container-post-action{
    margin-inline: auto;
    text-align: center;
}
.sm-profile{
    margin-left: 5px;
    padding: 2px;
}
#comments{
    text-align: center;
}
.comment-pro-name{
    text-decoration: none;
    color: #292b2c;
}
#loadComments{
    margin-bottom: 2px;
}
.like-btn, .comment-btn, .download-btn {
    height: 40px;
    width: 40px;
    place-items: center;
    padding: 0;
    margin: 0;
}
.like-btn .bi , .comment-btn .bi , .download-btn .bi {
    font-size: 30px;
    cursor: pointer;
}
.like{
    color: #292b2c;
}
.liked{
    color: red;
}
/* home */
/* gallery */
#img-gallery{
    width: 100%;
    height: 100%;
    border-radius: 0.7rem;
}
#img-viewer{
    display: flex;
    height: inherit;
    flex-wrap: wrap;
}
#img-viewer img{
    width: 100%;
    height: 100%;
}
/* gallery */
/* verification */
.verification-body{
    background-color: #1976D2;
}
.verification-container{
    background-color: #607D8B;
    border-radius: 0.7rem;
    margin-top: 2%;
}
.verification-contain{
    display: grid;
    place-items: center;
}
.verification-h1{
    color: #FFFFFF;
}
.verification-form{
    width: 100%;
    display: grid;
    justify-content: center;
}
.verification-btn{
    width: 100%;
}
.resend-btn{
    font-weight: 700;
    color: #FFFFFF;
}
.resend-form{
    display: grid;
    justify-content: center;
    text-align: center;
}
  /* verification */

  /* page loader  */
#loadingContainer{
    transition: all 2s ease-in-out;
    width: 100vw;
    height: 80vh;
    display: flex;
    text-align: center;
    place-content: center;
    place-items: center;
}
#loadingSpinner{
    width: 5rem;
    height: 5rem;
}
.loading-text{
    font-size: 1.5rem;
}
#show-post-btn{
    margin-right: 10px;
}
.profile-pic-sm{
    border-radius: 50%;
}
.friendList{
    border: 1px solid gray;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 10px;
}